MONGODB_URI="mongodb+srv://user:password@cluster.mongodb.net/autopost?appName=Cluster0"
LINKEDIN_CLIENT_ID=your_client_id
LINKEDIN_CLIENT_SECRET=your_client_secret
AUTH_SECRET=random-secret-key-change-me
BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1
CRON_SECRET=your-cron-secret
OPENCODE_API_KEY=your-opencode-zen-api-key
